@import url('./button.css');

header {
  position: relative;
}

header .patas {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  margin-bottom: 24px;
  width: 186px;
  height: 46px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  padding: 24px;
  z-index: 1;
}

.left-shape {
  position: absolute;
  top: 370px;
  left: 0;
  z-index: -1;
}

.quest {
  margin-bottom: 10px;
  color: var(--blue);
}

p {
  line-height: 21px;
  text-align: center;
  color: var(--blue);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

form label {
  color: var(--gray);
  border: none;
  margin-bottom: 4px;
}

.textgroup {
  margin-bottom: 24px;
  max-width: 80vw;
}

input {
  margin-bottom: 30px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--gray-400);
  padding: 12px 0;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

input::placeholder {
  color: var(--gray-200);
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

#confirm-password {
  margin-bottom: 30px;
}

label {
  width: 100%;
  position: relative;
}

label span {
  background-image: url('../../public/img/not-visible.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 34px;
  right: 16px;
}