body {
  background-color: var(--blue);
  background-image: url("../../public/img/right-shape.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 84.03px 415px;
  height: 100%;
  max-width: 100vw;
}

.logo {
  margin: 3em 0 16px 0;
  width: 186px;
  height: 46px;
}

.ilustracao {
  width: 250px;
  height: 312px;
  position: absolute;
  bottom: 80px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  padding: 24px;
  color: var(--white);
}

main h1 {
  font-size: 26px;
  line-height: 48px;
  text-align: center;
  color: var(--white);
  font-weight: 500;
}

main p {
  line-height: 24px;
  color: var(--white);
  text-align: center;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  display: block;
  text-decoration: none;
  padding: 8px 0;
  background: var(--red);
  color: var(--white);
  width: 180px;
  border-radius: 6px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.ilustracao {
  width: 247.34px;
  height: 312.77px;
  margin-top: 27px;
}