body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100vw;
  position: relative;
  
  background-color: var(--blue);
  background-image: url('../../public/img/top-shape.png'), url("../../public/img/right-shape.png");
  background-repeat: no-repeat;
  background-position: top left, center right;
  background-size: 352.11px 295px, 84.03px 415px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.menu-list-item:first-child {
  margin-right: 48px;
}

.menu-list-item {
  margin-right: 100%;
}

header {
  padding: 3em;
  display: flex;
  gap: 48px;
  width: auto;
  align-items: center;
}