@import url('./button.css');
@import url('./header-inicial.css');

.logo {
  margin-bottom: 16px;
  width: 186px;
  height: 46px;
}

.right-shape {
  position: absolute;
  top: 150px;
  right: 0;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  padding: 24px;
  color: var(--white);
  z-index: 1;
}

footer {
  z-index: 1;
}

main h1 {
  font-size: 26px;
  line-height: 48px;
  text-align: center;
  color: var(--white);
  font-weight: 500;
}

main p {
  line-height: 24px;
  color: var(--white);
  text-align: center;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  max-width: 250px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.button {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.ilustracao {
  width: 250px;
  height: 312px;
  display: block;
  margin: 1rem auto -1rem auto;
}