@import url('./button.css');

main {
  padding: 24px;
}

.textgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}

.textgroup p {
  line-height: 20px;
  color: var(--blue);
  max-width: 230px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  background: var(--gray-400);
  padding: 32px 16px;
  border-radius: 10px;
}

form label {
  color: var(--blue);
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 8px;
}

.input {
  outline: none;
  padding: 12px 12px 12px 16px;
  border: none;
  color: var(--gray);
  margin-bottom: 16px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}


#message {
  max-height: 170px;
  margin-bottom: 32px;
  resize: none;
}

.input::placeholder {
  color: var(--gray-200);
  font-family: 'Poppins', sans-serif;
}